<!--Admin::Dashboard#show-->
<h1>Admin_Dashboard</h1>
<div>
  <p>Number Of Products : <span><%= @count_products %></span></p>
  <p>Number Of Categories : <span><%= @count_categories %></span></p>
</div>