<section class="about-show">

<header class="page-header">
<h1>
  About Us
</h1>
</header>

  <div>
    <p>
      <strong>Jungle</strong> is for people who want to decorate eco-friendly indor spaces. <strong>Jungle</strong> provides evergreens, shrubs, and other trees. <strong>Jungle</strong> will be with all of you so that you can feel the forest air indoors.
    </p>
  </div>  
</section>