.cart-show {
  tr div {
    width: max-content;
  }

  button.stripe-button-el span {
    border-radius: 0.25em;
    border: 0.1em solid rgb(167, 145, 162);
    background: rgb(167, 145, 162);
    color: white;
  }
}
